<div class="home">

<div class="container">

<center><%= image_tag('logo.png', :class => 'img-responsive logo')%>

	<h3 id="tagline">Browse, Branch and Collaborate Ideas</h3>

				<!--<%= fa_icon "facebook", class: "fb-icon pull-left" %>-->
				 <%= button_to "Login", user_omniauth_authorize_path(:facebook), class: 'btn btn-success', style: 'color:#18BC9C;background-color:white'%>
</center>
</div>
	<footer class="footer">
      <div class="container">
        <center><h6 class="text-muted">"Great minds discuss ideas" - <small>Elanor Roosevelt</small></h6></center>
      </div>
    </footer>
</div>